<div class="calendar__page">
    <div class="calendar__container">

        <div class="calendar__control">
            <span (click)="handleShiftDate(-1)">
                <img class="icon left" src="../../../assets/icons/Expand_right.svg" alt="Icon">
            </span>
            <span (click)="handleShiftDate(1)">
                <img class="icon right" src="../../../assets/icons/Expand_right.svg" alt="Icon">
            </span>
        </div>

        <table class="table" >
            <tr class="table__row">
                <th class="table__head__element">
                    <span class="current__date">
                        {{ months[dates[dates.length - 1].getMonth()].substring(0, 3) }} {{ dates[dates.length - 1].getFullYear() }}
                    </span>
                </th>
                <th 
                    class="table__head__element"
                    *ngFor="let date of dates"
                    [ngClass]="{ current: isCurrentDay(date) }"
                >
                    <div class="date">
                        <span class="day__name">{{ daysOfWeek[date.getDay()].substring(0, 3) }}</span>
                        <span class="day__nbr">{{ date.getDate() }}</span>
                    </div>
                </th>
            </tr>
            <tr class="table__row" *ngFor="let team of teams">
                <td class="table__body__element title">{{ team }}</td>
                <td
                    class="table__body__element"
                    *ngFor="let date of dates"
                    [ngClass]="{ current: isCurrentDay(date), hide: hideCell(date, team) }"
                    [attr.colspan]="dayHasTask(date, team)"
                >
                    <div class="content">
                        <span 
                            [attr.style]="'background-color:' + getRandomColor()"
                            *ngIf="getTaskTitle(date, team) != ''"
                        >
                            {{ getTaskTitle(date, team) }}
                        </span>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>