<div class="task__item">

    <div class="header">
        <span class="priority">Low</span>
        <span class="options"></span>
    </div>

    <div class="content">
        <h1 class="title">Brainstorming</h1>
        <div class="body">Brainstorming brings team members'diverse experience into play.</div>
    </div>

    <div class="footer">

        <div class="contributers">
            <div class="contributer"></div>
            <div class="contributer"></div>
            <div class="contributer"></div>
        </div>

        <div class="details__item">
            <img class="icon" src="../../../assets/icons/Chat_alt_3_light.svg">
            <span class="name"><span class="quantity">2</span>comments</span>
        </div>

        <div class="details__item">
            <img class="icon" src="../../../assets/icons/Folder_file_alt_light.svg">
            <span class="name"><span class="quantity">2</span>Files</span>
        </div>

    </div>

</div>