<div class="app">
	<div class="sidebar">
		<div class="logo">
			<img class="logo__asset" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Blue_circle_frame.png/1200px-Blue_circle_frame.png">
			<h1 class="logo__name">Taskly</h1>
		</div>

		<ul class="nav__menu">
			<a class="menu__link" routerLink="/home" routerLinkActive="active">
				<li class="menu__link__li">
					<img class="menu__link__icon" src="../assets/icons/Home.svg" alt="Icon">
					<span class="menu__link__text">Home</span>
				</li>
			</a>
			<a class="menu__link" routerLink="/board" routerLinkActive="active">
				<li class="menu__link__li">
					<img class="menu__link__icon" src="../assets/icons/Chart.svg" alt="Icon">
					<span class="menu__link__text">Board</span>
				</li>
			</a>
			<a class="menu__link" routerLink="/calendar" routerLinkActive="active">
				<li class="menu__link__li">
					<img class="menu__link__icon" src="../assets/icons/Calendar.svg" alt="Icon">
					<span class="menu__link__text">Calendar</span>
				</li>
			</a>
			<a class="menu__link" routerLink="/home" routerLinkActive="active">
				<li class="menu__link__li">
					<img class="menu__link__icon" src="../assets/icons/Group.svg" alt="Icon">
					<span class="menu__link__text">Members</span>
				</li>
			</a>
			<a class="menu__link" routerLink="/board" routerLinkActive="active">
				<li class="menu__link__li">
					<img class="menu__link__icon" src="../assets/icons/Line_up.svg" alt="Icon">
					<span class="menu__link__text">Analytics</span>
				</li>
			</a>
			<a class="menu__link" routerLink="/calendar" routerLinkActive="active">
				<li class="menu__link__li">
					<img class="menu__link__icon" src="../assets/icons/Setting_line.svg" alt="Icon">
					<span class="menu__link__text">Settings</span>
				</li>
			</a>
		</ul>
	</div>
	<div class="main">
		<div class="header">
			<h1 class="title">Home</h1>
		</div>
		<div class="content">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>