<div class="board__page">
    <div class="task__status">

        <app-task-status 
            [title]="'To do'"
            [data]="getTodoItems()"
        ></app-task-status>

        <app-task-status 
            [title]="'On Progress'"
            [data]="getProgressItems()"
        ></app-task-status>

        <app-task-status 
            [title]="'Done'"
            [data]="getDoneItems()"
        ></app-task-status>

        <app-task-status 
            [title]="'QA'"
            [data]="getQAItems()"
        ></app-task-status>

    </div>
</div>