@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

// COLORS

$color-black-1: #212B3D;
$color-blue-1: #306BFF;
$color-gray-1: #A5A5AC;

$color-light-gray: #f5f5f5;
$color-light: #FBFBFB;

$color-white: #fff;